<html>

<head>
    <style>
        .note {
            border: 1px solid black;
            margin: 10px;
            padding: 10px;
        }

        .note.add input {
            width: 200px;
            height: 200px;
            font-size: 4em;
            background-color: transparent;
            border: none;
        }

        .note.add input:hover {
            background-color: #eee;
            border-radius: 10px;
        }
    </style>

</head>

<body>
    <div id="notes-head">
        <form action="/logout" method="post">
            <input type="submit" value="Logout">
        </form>
    </div>
    <div id="notes">
        <div class="note add">
            <form id="addform">
                <input type="submit" value="+">
            </form>
        </div>
        {% for note in notes %}
        <div class="note">
            <p>{{note.nid}}</p>
            <p contenteditable="true">{{note.title}}</p>
            <p contenteditable="true">{{note.body}}</p>
        </div>
        {% endfor %}
    </div>
    <script>
        
    </script>
</body>

</html>